/*reset */
body, html, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*login header*/
.login-header {
  width: 100%;
  height: 100px;
  background: #cccccc;
  display: flex;
  justify-content: space-around;
}

.login-header-logo {
  height: 100px;
  line-height: 100px;
  font-size: 20px;
  font-weight: 300;
}

.login-header-action-wrapper a {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #aaaaaa;
  line-height: 100px;
  text-align: center;
  color: #000;
}

.login-content-container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
}

.login-card {
  position: relative;
  width: 350px;
  height: 500px;
  background: #cccccc;
}

.login-card-header {
  width: 100%;
  height: 60px;
  background: #aaaaaa;
  display: flex;
  margin-bottom: 50px;
}

.login-card-header a {
  display: inline-block;
  flex: 1;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  color: black;
}

.login-card input {
  display: block;
  width: 280px;
  height: 60px;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #aaaaaa;
  outline: 0;
  transition: all 0.2s;
}

.login-card input:focus {
  border: 1px solid #283593;
}

.login-btn {
  display: block;
  width: 280px;
  height: 40px;
  background: #283593;
  text-align: center;
  line-height: 40px;
  color: white;
  margin: 0 auto;
}

.login-card-bottom-action {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #aaaaaa;
}

.login-card-bottom-action a {
  color: cornflowerblue;
}

.login-page footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

/*main page*/
.main-page {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-wrapper {
  position: relative;
  flex: 1;
  background: #eeeeee;
  height: 100%;
}

/*side bar*/
.side-bar {
  flex: none;
  width: 200px;
  height: 100%;
  background: #2D323E;
}

.side-logo-wrapper {
  width: 100%;
  height: 64px;
  background: #333333;
}

.side-subhead {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #aaaaaa;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 600;
}

.side-menu-item {
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding-left: 30px;
  font-size: 14px;
  color: #cccccc;
  transition: all 0.3s;
}

.side-menu-item:hover {
  cursor: pointer;
  background: #424A5C;
  padding-left: 40px;
}
.side-menu-item i {
  margin-right: 15px;
}

/*top bar*/
.top-bar {
  width: 100%;
  height: 64px;
  background: #aaaaaa;
  display: flex;
  flex-direction: row-reverse;
}

.top-bar-btn {
  width: 64px;
  text-align: center;
  line-height: 64px;
  color: #eeeeee;
  background: #777;
}

.top-bar-user-info {
  width: 150px;
  height: 64px;
  display: flex;
  align-items: center;
}

.user-logo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #777;
  margin-right: 15px;
}

.top-bar-user-name {
  font-size: 16px;
  font-weight: 400;
}

/*news page*/

.news-page {
  position: absolute;
  width: 100%;
  top: 64px;
  bottom: 0;
  left: 0;
  display: flex;
  background: #fff;
}

.sub-side-bar {
  flex: none;
  width: 200px;
  background: #EAEDF1;
}

.sub-side-headline {
  margin: 0;
  padding-left: 30px;
  width: 100%;
  height: 64px;
  line-height: 64px;
  background: #999;
  font-size: 14px;
  font-weight: 600;
  color: #666;
}

.sub-side-bar-menu-item {
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding-left: 30px;
  font-size: 12px;
  color: #000000;
}

.sub-side-bar-menu-item:hover {
  background: #eee;
}


/*create news page*/
.page-content {
  width: 100%;
  padding-left: 50px;
  overflow-y: scroll;
}

.main-page-headline {
  margin: 0 0 20px 0;
  height: 64px;
  line-height: 64px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #666666;
}

.tag-select {
  height: 180px;
}


/*form*/
.form-item {
  margin-bottom: 24px;
  display: flex;
  align-items: flex-start;
}

.form-item-note {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color:  #999;
  padding-left: 10px;
}

label {
  text-align: right;
  width: 60px;
  padding-right: 3px;
  height: 32px;
  font-size: 12px;
  color: #666;
  line-height: 32px;
}

input[type=text] {
  height: 32px;
  border: 1px solid #d9d9d9;
  outline: 0;
  border-radius: 5px;
  padding: 6px 7px;
  font-size: 12px;
  color: #666;
  line-height: 18px;
  transition: all 0.3s;
}

input[type=text]:focus {
  border: 1px solid #3F51B5;
  box-shadow: 0 0 5px #5C6BC0;
}

input[type=text]:hover {
  border: 1px solid #3F51B5;
}

.submit-btn {
  outline: 0;
  border: 0;
  width: 68px;
  height: 28px;
  line-height: 28px;
  background: #3F51B5;
  border-radius: 14px;
  color: #fff;
  cursor: pointer;
}

.submit-btn:hover {
  background: #5C6BC0;
}

textarea {
  width: 801px;
  height: 300px;
}

/*table*/
table {
  border-spacing: 0;
}
td, th {
  padding: 0 10px;
  max-width: 500px;
  height: 50px;
  line-height: 50px;
}

th {
  background: #F3F3F3;
  font-size: 12px;
  font-weight: 600;
  color: #666;
}

td {
  font-size: 12px;
  font-weight: 400;
  color: #666;
  border-bottom: 1px solid #E9E9E9;
}

.table-action-btn {
  font-size: 12px;
  color: #3F51B5;
  margin-right: 5px;
}

.table-action-btn:hover {
  color: #5C6BC0;

}





















































